extends layout
block content
 - var asrologicalSign = [ 'Steinbock 22.12 - 20.1', 'Wassermann 21.1 - 19.2','Fische 20.2 - 20.3', 'Widder 21.3 - 20.4', 'Stier 21.4 - 20.5', 'Zwilling 21.5 - 21.6', 'Krebs 22.6 - 22.7', 'Loewe 23.7 - 23.8', 'Jungfrau 24.8 - 23.9','Waage 24.9 - 23.10','Skorpion 24.10 - 22.11','Schuetze 23.11 - 21.12'];
 - var n = 1;
     while n < 13
       p <a href='/horoscope/#{n}'> <img src='/images/astrolocialsign/#{n}.png'> #{asrologicalSign[n-1]}
       - n++;
